/**.pp-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .close {
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
  }**/

 /** <!--<div class="pp-banner" style="display: none">
      
      <button class="close">&times;</button>
      </div>--!>

  </body>
  <!--<a id="cerrar" href="#popup">&times;</a> --!>
  <div id="popup" class="overlay">
      <div> id="popupBody" 
        <p>
          Al usar este sitio web estas consciente de que a pesar de nuestros mayores 
          esfuerzos para proteger tu privacidad y datos personales, siempre existe un riesgo
          (aún por más mínimo) que se filtren datos personales, especialmente si decides no 
          denunciar de manera anónima. En caso de que no ser anónima y con el fin de cumplir 
          con la Ley de Protección de Datos Personales, puede ser necesario que otorgues tu 
          consentimiento o legítimo interés en el uso de los datos en cuestión.
        </p>
        <p>
          En caso de que su denuncia no sea procedente para ser investigada, la organización 
          se descarga de esta responsabilidad.
        </p>
      </div>
    </div>**/